@model IEnumerable<BaiTap6.Models.PhongBan>

@{
    ViewBag.Title = "Division";
}

<h2>Phòng ban</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.maPhongBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tenPhongBan)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.maPhongBan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tenPhongBan)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
