@model IEnumerable<BaiTap6.Models.NhanVien>

@{
    ViewBag.Title = "Employee";
}

<h2>Nhân viên</h2>

<p>
    @Html.ActionLink("Thêm nhân viên mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.maNhanVien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hoNhanVien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tenNhanVien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gioiTinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngaySinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.luong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.diaChi)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.maNhanVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hoNhanVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tenNhanVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gioiTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ngaySinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.luong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.diaChi)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
