@model IEnumerable<BaiTap6.Models.PhongBan>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tenPhongBan)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tenPhongBan)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.maPhongBan }) |
            @Html.ActionLink("Details", "Details", new { id=item.maPhongBan }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.maPhongBan })
        </td>
    </tr>
}

</table>
